{
  "data_dir": "/var/cache/octohost",
  "server": true,
  "bootstrap": true,
  "ui_dir": "/var/lib/consul/ui",
  "client_addr": "0.0.0.0",
  "datacenter": "gce",
  "node_name": "octohost",
  "enable_syslog": true,
  "encrypt": "{{ consul_key }}"
}
